.announce-select {
    width: 100% !important;
    height: 3rem !important;
    margin-bottom: 5%;
    padding-left: 1rem;
    color: grey;
    border: 1px solid grey !important;
    padding-right: 0.5rem;
}

.ui.button.button-publish {
    margin: auto 0;
}